/cdac_Sept_23/nbproject/private/
/oct-10/Lab_Task_Day6/nbproject/private/
/oct-10/Lab_Task_Day6/build/
/oct-10/Lab_task_day7/nbproject/private/
/oct-10/Lab_task_day7/build/
/oct-16/Lab_task_day11/nbproject/private/
/oct-16/Lab_task_day11/build/
/assignment/assignment1/Assignment1/nbproject/private/
/assignment/Assignment1/nbproject/private/
/assignment/Assignment1/build/
/oct-19/Lab_task_day14/nbproject/private/
/oct-19/Lab_task_day14/build/
/oct-20/Lab_task_day15/nbproject/private/
/oct-20/Lab_task_day15/build/
/oct-23/Lab_task_day16/nbproject/private/
/oct-23/Lab_task_day16/build/
/oct-25/Lab_task_day17/nbproject/private/
/oct-25/Lab_task_day17/build/
/oct-26/Lab_task_day18/nbproject/private/
/oct-26/Lab_task_day18/build/
