<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://www.springframework.org/schema/context"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">
    <!--Enables the Annotations-->
    <context:annotation-config/>
    
    <bean id="emp" class="collectionInjection.Employee">
        <property name="empName" value="Ramesh"/>
        <property name="phoneNos">
            <list>
                <value>989898989</value> 
                <value>25252525</value> 
                <value>454545454</value> 
                <value>454545456</value> 
            </list>
        </property>
        <property name="projects">
            <map>
                <entry key="Placement Portal" value="2 months"/>
                <entry key="Blogging System" value="1 months"/>
                <entry key="e-comm website" value="2.5 months"/>
            </map>
        </property>
    </bean>
    
   
</beans>