<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <servlet>
        <servlet-name>ServletLife</servlet-name>
        <servlet-class>ServletLifeCycle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BasicConcept</servlet-name>
        <servlet-class>concept.BasicConcept</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BasicConcept1</servlet-name>
        <servlet-class>concept.BasicConcept1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet1</servlet-name>
        <servlet-class>contextConfig.Servlet1</servlet-class>
        <init-param>
            <param-name>name</param-name>
            <param-value>Ramesh</param-value>
        </init-param>
        <init-param>
            <param-name>city</param-name>
            <param-value>Rampur</param-value>
        </init-param>
    </servlet>
    
    <servlet>
        <servlet-name>OnlineShop</servlet-name>
        <servlet-class>session.OnlineShop</servlet-class>
        <init-param>
            <param-name>Laptop</param-name>
            <param-value>35000</param-value>
        </init-param>
        <init-param>
            <param-name>Mobile</param-name>
            <param-value>15000</param-value>
        </init-param>
    </servlet>
    
    
    <servlet>
        <servlet-name>Servlet2</servlet-name>
        <servlet-class>contextConfig.Servlet2</servlet-class>
        <init-param>
            <param-name>name</param-name>
            <param-value>Suresh</param-value>
        </init-param>
        <init-param>
            <param-name>city</param-name>
            <param-value>Solapur</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>FetchMultipleInfo</servlet-name>
        <servlet-class>clientToServer.FetchMultipleInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchMultipleValue</servlet-name>
        <servlet-class>clientToServer.FetchMultipleValue</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLife</servlet-name>
        <url-pattern>/Life</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BasicConcept</servlet-name>
        <url-pattern>/BasicConcept</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BasicConcept1</servlet-name>
        <url-pattern>/BasicConcept1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet1</servlet-name>
        <url-pattern>/Servlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet2</servlet-name>
        <url-pattern>/Servlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchMultipleInfo</servlet-name>
        <url-pattern>/FetchMultipleInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchMultipleValue</servlet-name>
        <url-pattern>/FetchMultipleValue</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>shopping.html</welcome-file>
    </welcome-file-list>
</web-app>
